.extreme {
    background: lightsteelblue;
}

.prose {
    background-image: url("cat.png");
}

.extreme:hover {
    background-image: url("dw.jpg");
    width: 100%;
    height: 100%;
}

.navzone {
    background-image: url("dance.png");
    background-size: cover;
    background-position: center center;
}

#head1 {
    text-align: right;
    transform: rotate(7deg);
}

h3 {
    text-align: center;
}